
ion-card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --background: #2d2c2c;
    --color: #ff9e9e;
    border: 3px solid white;
  }

  img{
    width: 100%;
    height: 180px;
  }
  
  ion-card-title{
    --color: #ff5252;
  }
  
  ion-card-subtitle {
    --color: #ffd1d1;
  }



  ion-toolbar{
    display: flex;
    position: relative;
    ion-icon{
      width: 90px;
      position: absolute;
      right: 0;
    }

  }

