#categorias-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;

  a {
    text-decoration: none;
    padding: 60px 20px;
    border-radius: 10px;
    margin: 6px;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: xx-large;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
      1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    text-align: center;
  }
}
