<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Perfil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card *ngIf="carritoService.carrito.length">
  <ion-card-header *ngFor="let item of carritoService.carrito">
    <ion-card-title>{{item.producto.nombre}}</ion-card-title>
    <ion-card-subtitle>{{item.producto.precio}} U$D</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let item of carritoService.carrito">
        <ion-thumbnail slot="start">
          <img alt="{{item.producto.nombre}}" src="{{item.producto.imagen}}" />
        </ion-thumbnail>
        <ion-label
          >{{item.producto.nombre}} - {{item.producto.precio}} -
          {{item.cantidad}}</ion-label
        >
        <ion-button
          fill="clear"
          (click)="carritoService.eliminarProducto(item.producto.id)"
        >
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
  <p *ngIf="!carritoService.carrito.length">
    Tu carrito está vacío,
    <a [routerLink]="['/tabs/tab1']">agregá algun producto</a>
  </p>


</ion-card>
<p>total: ${{carritoService.totalCarrito}} USD </p>
<ion-button>Comprar</ion-button>
<ion-button (click) = "carritoService.limpiarCarrito()">Limpiar carrito</ion-button>
