img {
  max-height: 250px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.764);
  width: 100%;
}

.componente {
  margin-top: 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-left: 1em;
  flex-wrap: wrap;
  border: 2px solid #f0f0d8;
  border-radius: 5px;
  background-color: #007878 ;
  width: calc(100% - 2em);
  color: #f9f9e2;

  p {
    font-size: larger;
    margin: 8px 0 0 0;
  }

  .ingredientes {
    width: fit-content;
    padding: 3px 10px;
    font-weight: 650;
    border-radius: 5px;
    height: min-content;

    ul{
      padding: 0;
    }


    li {
      font-size: large;
      display: flex;
      padding: 5px 0;
      list-style: none;
      align-items: center;

      ion-icon {
        margin-right: 10px;
      }
    }
  }
  .precio {
    width: 100%;
    text-align: center;
    padding-right: 30px;
    font-weight: 650;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: larger;
    margin-bottom: 10px;
  }
}

.centrado {
  display: flex;
  justify-content: center;
}

ion-button {
  color: #a8c030;
  font-weight: 800;
  position: absolute;
  bottom: 50px;
  display: flex;
  width: 80%;
}

ion-toolbar {
  display: flex;
  color: #f0f0d8;

  ion-icon {
    position: absolute;
    right: 10px;
    top: 5px;
    color: white;
  }
}
