<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title (click)="backClicked()">{{producto.nombre}}</ion-title>
    <ion-icon
      size="large"
      name="arrow-back-circle-outline"
      (click)="backClicked()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title (click)="backClicked()" size="large"
        >{{producto.nombre}}</ion-title
      >
    </ion-toolbar>
  </ion-header>

  <div class="componente">
    <img src="{{producto.imagen}}" />
    <div class="ingredientes">
      <p>Contiene:</p>
      <ul>
      <li
        *ngFor="let ingrediente of producto.ingredientes"
      >
      <ion-icon name="restaurant-outline"></ion-icon>{{ingrediente.toUpperCase()}}
      </li>
    </ul>
    </div>
    <p class="precio">Precio: ${{producto.precio}} USD</p>
  </div>
  <app-contador-cantidad (cantidadCambiada)="cantidad=$event"></app-contador-cantidad>  <div class="centrado">
    <ion-button fill="outline" (click)="onAgregarAlCarritoClicked()"
      >Agregar al carrito
      <ion-icon slot="end" name="cart-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
