<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{producto.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{producto.nombre}}</ion-title>
      <ion-icon
        size="large"
        name="arrow-back-circle-outline"
        (click)="backClicked()"
      ></ion-icon>
    </ion-toolbar>
  </ion-header>
  <div class="centrado">
    <img src="{{producto.imagen}}" />
  </div>
  <div class="componente">
    <p class="ingredientes">Contiene: {{producto.ingredientes}}</p>
    <p class="precio">${{producto.precio}} USD</p>
  </div>
  <div class="centrado">
    <ion-button fill="outline"
      >Agregar al carrito
      <ion-icon slot="end" name="cart-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
